<h1><%= @fandom.title %></h1>

<h2><%= @fandom.source %></h2>
<p id="show"><%= @fandom.description %></p>

<div class="guide">
<%= link_to('Edit', edit_fandom_path(params[:id])) %>
<%= link_to('Delete', @fandom, method: :delete, data: {confirm: 'Are you certain?'}) %>
<%= link_to('Go Back', fandoms_path) %>

</div>
