<h1><%= @user.name %></h1>
<h3 class="h3">Bio</h3>
<p id="bio"><%= @user.bio %></p>

<h3 class="h3">Favorites</h3>
<ul class="favs">
  <% @user.fandoms.each do |f| %>
  <li> <%= link_to(f.title, fandom_path(f.id)) %> </li>
  <% end %>
</ul>
<div class="tools">
<%= link_to('Edit Your Page', edit_user_path) %> <br>
<%= link_to('Delete Your Account', @user, method: :delete, data: {confirm: 'Are you certain?'}) %>
</div>
