<h1><%= @user.name %></h1>

<p><%= @user.bio %></p>
<h3>Favorites</h3>
<ul>
  <%= @user.fandoms.each do |f| %>
  <li> <%= link_to(f.title, fandom_path(f.id)) %> </li>
  <% end %>
</ul>

<%= link_to('Edit', edit_user_path) %>
<%= link_to('Delete', @user, method: :delete, data: {confirm: 'Are you certain?'}) %>
